$defaul:#070707;
$accent:#828282;
$bg:#F6F6F6;
%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%quicksand-500 {
  font-family: 'Quicksand-Medium', sans-serif;
}